<div class="padLeft">
<h1>Flujo de caja</h1>
<div id="left">
<ul class="navigation secondary">
    <li><a href="/admin/orders/list/">Regresar a lista de reportes</a></li>
</ul>
</div>
<h3>seleccione un rango de fechas</h3>
<p>
	<%= make_label('Fecha Inicio') %>
	<%= date_select 'product', 'date_available'  %>
</p>
<p>
	<%= make_label('Fecha Fin') %>
	<%= date_select 'product', 'date_available'  %>
</p>

<%= submit_tag "Generar Reporte", :class => 'button hundredfifty' %>
</div>
