<div id="left">
	<h1><%=h @title %></h1>
		<div class="padLeft">
			<ul>
			    <li>
				<%= link_to "Flujo de caja", :action => 'flujo_caja' %>        
				<br/>
				     <span class="info">Muesta el reporte de ventas en un rango de fechas.</span>
			    </li>
			    <li>
				<%= link_to "Los productos mas vendidos", :action => 'producto_vendido' %>	
				<br/>
					<span class="info">Muestra los productos mas vendidos en un rango de fechas.</span>
				</li>
			
				
			</ul>
		</div>
</div>


<%= render(:partial => 'right_side') %>

