<!-- RIGHT -->
<div id="right">
  <br/>
  <%= link_to 'Crear Nuevo Usuario', {:action => 'new'}, :class => 'button hundredfifty' %>
	<div class="clear">&nbsp;</div>

	<h1>Tipos de Usuarios</h1>
	<p>
		<%= link_to 'Administrar Tipos de Usuarios', {:controller => 'roles', :action => 'index'}, :class => 'action' %>
	</p>
	

	
</div>
<div class="clear">&nbsp;</div>
