</table>
<tr>  
	
		<td style="vertical-align:middle;">
		</td>
		<td style="padding-left:4px;">
			<label class="inline">
		        <span class="money">* <%= @title %></span>
			</label>
		</td>
        <td style="vertical-align:middle;">
		</td>
		<td> 
		    <label class="inline">
				<span class="money"><%= @price%></span>
			</label>
		</td>
	</tr>
</table>	
	


